@model Rental.Data.Models.Order

@{
    ViewData["Title"] = "Деталі замовлення";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1>Деталі замовлення</h1>
    <div class="card shadow-sm p-4">
        <dl class="row">
            <dt class="col-sm-3">Ім'я</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.name)</dd>

            <dt class="col-sm-3">Прізвище</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.surname)</dd>

            <dt class="col-sm-3">Адреса</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.adress)</dd>

            <dt class="col-sm-3">Телефон</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.phone)</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.email)</dd>

            <dt class="col-sm-3">Деталі замовлення</dt>
            <dd class="col-sm-9">
                @foreach (var order in Model.orderDetails)
                {
                    <p>
                        <a asp-action="Index" asp-controller="CarDetails" asp-route-id="@order.car.id">@order.car.name</a> - Ціна за добу:
                        @order.car.price.ToString("C", new System.Globalization.CultureInfo("uk-UA"))
                    </p>
                }
            </dd>

            <dt class="col-sm-3">Початок оренди</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.RentalStart)</dd>

            <dt class="col-sm-3">Кінець оренди</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.RentalEnd)</dd>
        </dl>

        <div class="d-flex justify-content-end mt-3">
            <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-primary me-2">Редагувати</a>
            <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
        </div>
    </div>
</div>
